<!-- footer -->
<div class="footer">
  <div id="back-to-top"><i class="pe-7s-angle-up"></i></div>
  <div class="container">
    <div class="footer__wrapper">
      <div class="footer__social">

        <!-- social-icon -->
        <a
          class="social-icon"
          href="#"
        ><i class="social-icon__icon fa fa-facebook"></i>
        </a><!-- End / social-icon -->


        <!-- social-icon -->
        <a
          class="social-icon"
          href="#"
        ><i class="social-icon__icon fa fa-twitter"></i>
        </a><!-- End / social-icon -->


        <!-- social-icon -->
        <a
          class="social-icon"
          href="#"
        ><i class="social-icon__icon fa fa-linkedin"></i>
        </a><!-- End / social-icon -->


        <!-- social-icon -->
        <a
          class="social-icon"
          href="#"
        ><i class="social-icon__icon fa fa-behance"></i>
        </a><!-- End / social-icon -->


        <!-- social-icon -->
        <a
          class="social-icon"
          href="#"
        ><i class="social-icon__icon fa fa-vimeo"></i>
        </a><!-- End / social-icon -->

      </div>
      <p class="footer__copy">2018 &copy; Copyright Awe7. All rights Reserved.</p>
    </div>
  </div>
</div><!-- End / footer -->
